PORT=5001
NODE_ENV=development
CLIENT_URL=http://localhost:3000

MONGO_URI=mongodb://127.0.0.1:27017/cosmovision

JWT_ACCESS_SECRET=abcxyz
JWT_REFRESH_SECRET=xyzabc
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

GEMINI_API_KEY=
OPENWEATHER_API_KEY=
